In [1]:
#import libraries

import pandas as pd
import numpy as np
import os

In [2]:
 cols = ["NU_INSCRICAO", 
            "NU_NOTA_CN",
            "NU_NOTA_CH",
            "NU_NOTA_LC",
            "NU_NOTA_MT",
            "TP_SEXO",
            "NU_IDADE",
            "SG_UF_RESIDENCIA",
            "NO_MUNICIPIO_RESIDENCIA",
            "TP_LINGUA",
            "IN_SURDEZ",
            "IN_DISLEXIA",
            "Q001",
            "Q002",
            "Q005",
            "Q006",
            "Q016",
            "Q021"]

In [3]:
#reading data
enem_data = pd.read_csv(
    "C:/Users/Aline/Downloads/microdados_enem_2019/DADOS/MICRODADOS_ENEM_2019.csv",
    sep = ";", decimal = ",", encoding = 'latin-1', usecols = cols
)

In [4]:
final_data = enem_data.loc[
        (enem_data.SG_UF_RESIDENCIA == 'MG')
    ]

In [5]:
final_data.to_csv('C:/Users/Aline/Downloads/microdados_enem_2019/DADOS/mg_data.csv', index=False, encoding="latin-1")

In [1]:

import pandas as pd
import numpy as np
import os

#reading data
enem_data = pd.read_csv(
    'C:/Users/Aline/Downloads/microdados_enem_2019/DADOS/mg_data.csv',
    sep = ",", decimal = ".", encoding = 'latin-1')

In [2]:
enem_data

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,IN_SURDEZ,IN_DISLEXIA,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,Q001,Q002,Q005,Q006,Q016,Q021
0,190001005671,Uberlândia,MG,21,M,0,0,512.6,564.6,533.4,626.4,0,E,F,3,I,B,A
1,190001009861,Canaã,MG,20,M,0,0,NaN,NaN,NaN,NaN,1,B,B,5,D,A,A
2,190001021622,Araxá,MG,24,M,0,0,NaN,NaN,NaN,NaN,1,C,C,3,F,A,A
3,190001026636,Belo Horizonte,MG,33,M,0,0,NaN,NaN,NaN,NaN,1,G,D,3,P,B,A
4,190001026742,São João da Ponte,MG,23,M,0,0,621.0,654.4,595.8,726.8,0,B,D,3,D,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538891,190006120182,Uberaba,MG,59,F,0,0,453.6,446.2,446.9,467.9,1,B,C,3,C,A,A
538892,190006120183,São João do Paraíso,MG,33,F,0,0,527.6,534.4,543.3,537.9,1,B,A,1,C,B,A
538893,190006120184,Capinópolis,MG,18,F,0,0,473.7,380.7,499.6,369.3,0,F,E,3,I,B,B
538894,190006120185,Ribeirão das Neves,MG,22,F,0,0,464.4,415.8,510.5,473.0,1,B,E,2,E,B,A
538895,190006120186,Betim,MG,37,F,0,0,NaN,NaN,NaN,NaN,1,B,A,3,C,A,A

In [3]:
enem_data.NO_MUNICIPIO_RESIDENCIA.value_counts()

Belo Horizonte      79384
Uberlândia          21368
Contagem            18156
Montes Claros       17165
Juiz de Fora        15870
                    ...
Albertina              29
Doresópolis            28
Consolação             28
Serra da Saudade       17
Água Comprida          13
Name: NO_MUNICIPIO_RESIDENCIA, Length: 853, dtype: int64

In [5]:
enem_data.SG_UF_RESIDENCIA.value_counts()

MG    538896
Name: SG_UF_RESIDENCIA, dtype: int64

In [6]:
enem_data.TP_LINGUA.value_counts()

0    309739
1    229157
Name: TP_LINGUA, dtype: int64

In [7]:
enem_data.IN_SURDEZ.value_counts()

0    538766
1       130
Name: IN_SURDEZ, dtype: int64

In [8]:
enem_data.IN_DISLEXIA.value_counts()

0    538671
1       225
Name: IN_DISLEXIA, dtype: int64

In [10]:
enem_data.TP_LINGUA.value_counts()

0    309739
1    229157
Name: TP_LINGUA, dtype: int64

In [11]:
enem_data.Q001.value_counts()

E    129298
B    126959
C     93208
D     64960
H     40685
F     39784
G     24788
A     19214
Name: Q001, dtype: int64

In [12]:
enem_data.Q002.value_counts()

E    160134
B     94434
C     84818
D     68104
F     56442
G     48582
A     14181
H     12201
Name: Q002, dtype: int64

In [21]:
enem_data.Q005.value_counts()

4     183790
3     143724
5      83280
2      69479
6      26309
1      16201
7       9598
8       3703
9       1367
10       745
11       264
12       175
13        86
14        47
15        41
20        37
16        20
19        14
17         8
18         8
Name: Q005, dtype: int64

In [22]:
enem_data.Q006.value_counts()

C    142297
B     97839
D     63327
E     61486
G     39732
F     29265
H     24125
I     17697
A     12755
J      9561
N      7192
K      6997
O      5798
Q      5698
L      5295
M      5157
P      4675
Name: Q006, dtype: int64

In [24]:
enem_data.Q016.value_counts()

B    296425
A    239717
C      2604
D       107
E        43
Name: Q016, dtype: int64

In [25]:
enem_data.Q021.value_counts()

A    406532
B    132364
Name: Q021, dtype: int64

In [26]:
enem_data.TP_SEXO.value_counts()

F    326374
M    212522
Name: TP_SEXO, dtype: int64

In [8]:
enem_data.agg({
    "NU_NOTA_MT": "mean",
    "NU_NOTA_LC": "mean"
})

NU_NOTA_MT    546.796208
NU_NOTA_LC    531.215550
dtype: float64

In [11]:
print(enem_data.groupby('TP_SEXO').agg({
    "NU_NOTA_CH": "mean"
}))

         NU_NOTA_CH
TP_SEXO
F        515.127098
M        529.698270

In [13]:
enem_data.loc[
    (enem_data.TP_SEXO == "F") &
    (enem_data.NO_MUNICIPIO_RESIDENCIA == "Montes Claros"),
    "NU_NOTA_MT"
].mean()

525.4776724249901

In [14]:
enem_data.loc[
    (enem_data.Q021 == "B") &
    (enem_data.NO_MUNICIPIO_RESIDENCIA == "Sabará"),
    "NU_NOTA_MT"
].mean()

543.2927556818183

In [4]:
enem_data.loc[
    (enem_data.Q016 == 'C'),
    "NU_NOTA_CH"
].mean()

557.2765986394558

In [5]:
enem_data.loc[
    (enem_data.Q002 == 'G'),
    "NU_NOTA_MT"
].mean()

620.007062070985

In [11]:
enem_data.loc[
    (enem_data.NO_MUNICIPIO_RESIDENCIA.isin(["Conselheiro Lafaiete","Belo Horizonte"])),
    "NU_NOTA_MT"
].mean()

578.0392265100068

In [22]:
enem_data.loc[
         (enem_data.Q005 == 1),
        "NU_NOTA_CH"
        ].mean()

534.4573388609205

In [24]:
enem_data.loc[
    (enem_data.Q001 == 'G') &
    (enem_data.Q006 == 'M'),
    "NU_NOTA_CH"].mean()

586.7231663685159

In [16]:
enem_data.loc[(enem_data.TP_SEXO == 'F') &
    (enem_data.NO_MUNICIPIO_RESIDENCIA == 'Lavras') &
    (enem_data.TP_LINGUA == 1),
    "NU_NOTA_MT"].mean()

510.80950782997775

In [17]:
enem_data.loc[(enem_data.TP_SEXO == 'M') &
    (enem_data.NO_MUNICIPIO_RESIDENCIA == 'Ouro Preto'),
    "NU_NOTA_MT"].mean()

555.0832520325198

In [18]:
enem_data.loc[(enem_data.IN_SURDEZ == 1),
    "NU_NOTA_CH"].mean()

435.38796296296283

In [20]:
enem_data.loc[
    (enem_data.NO_MUNICIPIO_RESIDENCIA.isin(["Belo Horizonte","Sabará", "Nova Lima", "Betim"])) &
     (enem_data.IN_DISLEXIA == 1) & 
     (enem_data.TP_SEXO == 'F'),
    "NU_NOTA_MT"
].mean()

582.1935483870968